{% extends 'layout_public.html.twig' %}


{% block title_page %}Mot de passe oublié ?{% endblock %}

{% block content_page %}

    {% if msgSuccess %}
        <div class="alert alert-success">
                <div class="alert-message">
                    {{ msgSuccess }}
                </div>
        </div>
    {% endif %}
    <form class="form_inputs" method="post" autocomplete="off">
        <input class="input_txt" type="email" name="email"
               placeholder="adresse e-mail"/>


        {% if msgError %}
            <span class="invalid-feedback d-block">
                <span class="d-block">
                    <span class="form-error-message">{{ msgError }}</span>
                </span></span>
        {% endif %}
        <button type="submit" class="input_submit">Valider</button>
        <small>
            <a href="{{ path('login') }}" class="return_form">Retour</a>
        </small>
    </form>

{% endblock %}
