{% extends 'layout_public.html.twig' %}

{% block title_page %}
    Bienvenue sur la plateforme de location de voiture
{% endblock %}
{% block content_page %}
    <form class="form_inputs" method="post" autocomplete="off" {{ path('login') }}>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <input type="text" value="{{ last_username }}" name="_username" id="inputLogin" class="input_txt"
               placeholder="Saisissez ici votre login" required="" autofocus="">
        <input class="input_txt" placeholder="Saisissez ici votre mot de passe" type="password" id="inputPassword"
               name="_password" autocomplete="off" required="">

        <input class="input_submit" type="submit" name="" value="VALIDER">

    </form>
{% endblock %}